.Todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
  margin-left: -28px;
}

.Todo-Task {
  cursor: pointer;
  position: relative;
  transition: all 0.4s linear;
  font-size: 21px;
}

.Todo .completed {
  opacity: 0.6;
}
.Todo .completed:before {
  content: "";
  position: absolute;
  top: 50%;
  left: -20px;
  display: block;
  width: 100%;
  height: 2px;
  background-color: #008984;
  animation: strikeitem 0.4 ease-out 0.4s forwards;
}

@keyframes strikeitem {
  to {
    width: calc(100% + 80px);
  }
}

.Todo-buttons {
  flex-shrink: 0;
  padding: 5px;
}

.Todo-buttons button {
  border: none;
  font-size: 16px;
  background-color: #fff;
  -webkit-appearance: none;
  cursor: pointer;
  color: #053037;
  margin: 6px;
}

.Todo-edit {
  display: flex;
}

.Todo-edit input {
  padding: 10px 4px;
  border: none;
  font-size: 21px;
  border: 1px solid rgb(179, 172, 172);
  outline: none;
  transition: all 0.4s ease-in;
  width: 480px;
}

.Todo-edit input:hover {
  border: 1px solid black;
}

.Todo-edit button {
  height: 100%;
  padding: 0px 18px;
  background: #008984;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  border: 1px solid rgba(255, 255, 255, 0.3);
  cursor: pointer;
  transition: 0.2s ease-out;
  transition: all 0.4s ease-in-out;
}

.Todo-edit button:hover {
  background-color: white;
  border: 1px solid #008984;
  color: #008984;
}

.editBtn {
  width: 21px;
  height: 21px;
}

.trashBtn {
  width: 22px;
  height: 22px;
}
